body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: black;
  }
  
  #app {
    color: white;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 100px 1fr 200px;
  }
  
  h1 {
    margin: 0;
    font-size: 19rem;
    text-align: center;
    text-shadow: -1px 0 yellow, 15px 0 yellow;
  }
  
  h2 {
    font-size: 5rem;
  }
  
  h2, p {
    margin: 0;
    text-align: center;
  }
  